
.dashboard-table__row {
    display: table-row;
    background-color: #fff;
    color: #333E44;
    font-size: 15px;
    line-height: 20px;
  }
  
  .dashboard-table__row:hover {
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.05), 0 2px 2px 0 rgba(0,0,0,0.05);
  }
  
  
  .dashboard-table__header {
    display: table-row;  
    color: #606060;
    font-size: 14px;
    line-height: 18px;
    background: transparent;
    height: 40px;
  }
  