div.card {
    height: 130px;
    width: 290px;
    border-radius: 4px;
    background-color: #FFFFFF;
    margin: 60px 10px 50px 10px;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.05), 0 2px 2px 0 rgba(0,0,0,0.05);
}

.active-card{
    border: 1px solid #0459E4;
}

.card:hover{
    border: 1px solid #0459E4;
    cursor:pointer;
}

.sub{
    height:21px;
    width: 223px;
    color: #232F49;
    font-family: "DIN Pro";
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    margin: 0px 42px 10px 25px;
    text-align: left;
}



.title{
    height: 23px;
    width: 223px;
    color: #232F49;
    font-family: "DIN Pro";
    font-size: 18px;
    line-height: 23px;
    margin: 15px 42px 10px 25px;
    text-align: left;
}

.title2{
    height: 23px;
    width: 223px;
    color: #232F49;
    font-family: "DIN Pro";
    font-size: 18px;
    line-height: 23px;
    margin: 15px 42px 34px 25px;
    text-align: left;
}

.number{
    height: 36px;
    width: 30.6px;
    color: #232F49;
    font-family: "DIN Pro";
    font-size: 28px;
    line-height: 36px;
    text-align: right;
    margin: 3px 32px 22px 227.4px;
}

.numbers{
    height: 36px;
    width: 57.3px;
    color: #232F49;
    font-family: "DIN Pro";
    font-size: 28px;
    line-height: 36px;
    text-align: right;
    margin: 3px 32px 22px 220.7px;
}

.numb{
    height: 36px;
    width: 80.3px;
    color: #232F49;
    font-family: "DIN Pro";
    font-size: 28px;
    line-height: 36px;
    text-align: right;
    margin: 3px 40px 22px 220.7px;
    padding-right:20px;
}

div.contain{
    width: 100%;
    padding-right: 15px;
    padding-left: 60px;
    margin-right: auto;
}
