
.dashboard-table__header .dashboard-table__cell {
    padding: 9px 10px 11px;
  }
  
  .dashboard-table__cell {
    box-sizing: border-box;
    display: table-cell;
    min-width: 100px;
    padding: 13px 10px 17px;
  }
  
  .dashboard-table__cell:first-child {
    padding-left: 50px;  
    width:290px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .dashboard-table__cell:nth-child(2){
    width:180px;
  }
  
  .dashboard-table__cell:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  